.sidebar p {
  margin-bottom: 0;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  top: 90px;
  left: 0;
  height: 100vh;
  background: #343A40;
  position: absolute;
}

.sidebar a {
  text-decoration: none !important;
  color: white;
}

.sidebar a {
  margin-left: 5px;
}


.sidebar a {
  padding: 10px 0;
  border-bottom: 1px solid #47748b;
  font-size: 1.1rem;
  cursor: pointer;
}

.sidebar a.active {
  background: rgb(65, 72, 79);
}

.sidebar a:hover {
  background: rgb(65, 72, 79);
}


.components {
  display: flex;
  flex-direction: column;
}

.profile-content {
  position: absolute;
  left: 250px;
  height: 58.5%;
  width: 80%;
  padding: 25px;
}

.project-page {
  display: flex;
  width: 70%;
  height: 25px;
  justify-content: space-between;
}

.project-page-container {
  width: 75%;
  border-bottom: 1px solid #6DD1CC;
}

.project-page a {
  text-decoration: none;
  color: white;
  padding: 2px;
}

.project-page a:hover {
  background: rgb(65, 72, 79);
}

.project-page .active {
  background: rgb(65, 72, 79);
}

.allproject-wrapper {
  margin: 15px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.allproject-items {
  display: flex;
  padding: 3px;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  flex-wrap: wrap;
  /* margin-left: 5%; */
}

.allproject-item {
  height: 100px;
  width: 250px;
  border: 1px solid white;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.allproject-wrapper::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}


.allproject-wrapper::-webkit-scrollbar-thumb {
  background-color: #6DD1CC;
  border-radius: 10px;
}

.allproject-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #202225;
}

.collaborators-wrapper p {
  margin: 0;
}

.allproject-wrapper {}

.collaborators-wrapper {
  width: 100%;
}

.collaborators-details-wrapper {
  display: flex;
  flex-direction: row;

  /* justify-content: space-evenly;  */
}



.collaborators-item {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.collaborators-project-title {
  margin-top: 7px;
}

.profile-button {
  background-color: #6DD1CC;
  text-decoration: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

.editprofile-modal {
  min-width: 10rem;
  min-height: 10em;
}

.profile-button-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}